@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #FF9E1B;
}

#logo {
    padding-left: 2vh;
}

#profile-img {
    border-radius: 50%;
    margin: 1vh 2vh 0 2vh;
    width: 50px;
    height: 50px;
}

ul li:nth-of-type(2) input {
    width: 200px;
    height: 30px;
    font-size: 25px;
    font-family: 'GmarketSansLight';
    border-style: none;
    background-color: #FF9E1B;
    border-bottom: 1px solid black;
    color: black;
}

header ul li:nth-of-type(3) div {
    text-align: center;
}

header ul li:nth-of-type(3) div span {
    font-family: 'GmarketSansMedium';
    display: block;
}

/*  --------------베이스 커트라인------------------ */


/* hackyourlife 배경 설정  */
main::before {
    content: "";
    background: url(slogan2.png);
    opacity: 0.023;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

/* 카드 4장 들어가는 container */
.card-list {
    display: flex;
    justify-content: space-around;
}

/* 4장 각각의 카드  */
.card {
    overflow-y: scroll;
    position: relative;
    width: 350px;
    height: 570px;
    text-align: center;
    margin-top: 4vh;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px #e4e4e4;
}

/* 출석 결석 이런 거  */
.card button {
    font-family: 'GmarketSansMedium';
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 1vh;
    display: inline-block;
}

/* 학생 각각의 카드  */
.student {
    display: inline-block;
    width: 300px;
    box-shadow: 2px 2px 3px 3px #e4e4e4;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.student:hover {
    cursor: pointer;
    transition: .2s;
    transform: translate(-2px, -2px);

}

/* 저장버튼 */
#submit {
    height: 30px;
    width: 50px;
    float: right;
    font-family: 'GmarketSansLight';
    font-size: 23px;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 8px;
    margin: 10px 10px 0 0;
}