@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

div p {
    font-family: 'GmarketSansMedium';
    font-size: 35px;
    margin-bottom: 5vh;
}

#session-date {
    font-family: 'GmarketSansLight';
    border-style: none;
    font-size: 25px;
    margin-right: 3vh;
}

#session-name {
    font-size: 20px;
    width: 250px;
    font-family: 'GmarketSansLight';
    border-style: none;
    border-bottom: 1px solid black;
    margin-right: 10px;
}

button {
    font-family: 'GmarketSansLight';
    font-size: 20px;
    border-color: white;
    border-right: white;
    border-bottom: white;
    border-radius: 8px;
    padding: 7px 5px 5px 5px;
    background-color: #FF9E1B;
    color: white;
    width: 60px;
}

button:hover {
    cursor: pointer;
    border-color: black;
    background-color: black;
    transition: .3s;
}

input:focus {
    outline: none;
}