@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 상단 바  */
ul {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: black;
}

/* 로고 속성 */
#logo {
    margin-left: 4vh;
}

.profile-li {
    display: flex;
    align-items: center;
}

/* 프로필 이미지 */
#profile-img {
    border-radius: 50%;
    margin: 0 2vh;
    width: 75px;
    height: 75px;
}

/* 날짜 input */
ul li:nth-of-type(2) input {
    /* width: 220px;
    height: 30px; */
    font-size: 25px;
    font-family: 'GmarketSansLight';
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 8px;
}


/* 프로필 글씨  */
header ul li:nth-of-type(3) span {
    font-family: 'GmarketSansLight';
    font-size: 20px;
    color: white;
}

/*  --------------베이스 커트라인------------------ */


/* hackyourlife 배경 설정  */
main::before {
    content: "";
    background: url("../images/slogan2.png");
    opacity: 0.023;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    bottom: 100px;
}

/* 카드 4장 들어가는 container */
.card-list {
    display: flex;
    justify-content: space-around;
}

/* 4장 각각의 카드  */
.card::-webkit-scrollbar {
    background-color: white;
    width: 20px;
}

.card::-webkit-scrollbar-thumb:hover {
    background-color: rgba(78, 78, 78, 0.322);
    border-radius: 10px;
    border: 6px solid transparent;
    background-clip: padding-box;
    transition: .8s;
}

.card {
    overflow-y: scroll;
    position: relative;
    width: 350px;
    height: 570px;
    text-align: center;
    margin-top: 4vh;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px #e4e4e4;
}

/* 출석 결석 이런 거  */


.card button {
    font-family: 'GmarketSansMedium';
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 1vh;
    display: inline-block;
}

/* 학생 각각의 카드  */
.student {
    display: inline-block;
    width: 300px;
    box-shadow: 2px 2px 3px 3px #e4e4e4;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.student:hover {
    cursor: move;
    transition: .2s;
    transform: translate(-2px, -2px);

}

.submit-div {
    margin-top: 30px;
    text-align: center;
}

/* 저장버튼 */
#submit {
    font-family: 'GmarketSansLight';
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    width: 80px;
    height: 40px;
}

#submit:focus {
    outline-style: none;
}

#submit:hover {

    /* 제출버튼누르면 어떤 효과 나오게 할지 ...  */
}