@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #FF9E1B;
}


body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.session-title {
    font-family: 'GmarketSansMedium';
    font-size: 35px;
    padding-bottom: 30px;
}


.session-list {
    overflow-y: auto;
    height: 250px;
}

.session-list::-webkit-scrollbar {
    background-color: white;
    width: 20px;

}

.session-list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(37, 37, 37, 0.096);
    border-radius: 10px;
    border: 7px solid transparent;
    background-clip: padding-box;
    transition: .8s;
}



.session-list p {
    border-bottom: 1px solid rgb(179, 179, 179);
    padding: 10px 0;
    width: 400px;
}

.session-date {
    font-family: 'GmarketSansLight';
    font-size: 16px;
    float: left;
    padding-top: 5px;
}

.session-name {
    font-family: 'GmarketSansMedium';
    font-size: 18px;
}

.session-name:hover {
    cursor: pointer;
    border-bottom: 1.5px solid rgb(85, 85, 85);
}

button {
    float: left;
    font-family: 'GmarketSansLight';
    font-size: 18px;
    border-radius: 8px;
    padding: 5px;
    background-color: #FF9E1B;
    color: white;
    margin-top: 3vh;
}

button:hover {
    background-color: black;
    transition: .3s;
}