{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="login-div">
            <p>멋쟁이 사자처럼 출석부 시스템</p>
            <input name="teacherid" type="text" placeholder="아이디를 입력하세요. ">
            <input name="password" type="password" placeholder="비밀번호를 입력하세요. ">
            <button type="submit">로그인</button>
        </div>
    </form>
</body>
</html>