{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <title>MYPAGE</title>
</head>
<body>
    <form method="POST"action="{%url 'mypage' %}">
        {% csrf_token %}
        <div class="mypage-div">
            <p>내 정보</p>
            <p>
                <span>아이디</span>
                <span>umuj0708</span>
            </p>
            <p>
                <span>비밀번호</span>
                <span>0000</span>
            </p>
            <p>
                <span>이름</span>
                <span>김누구</span>
            </p>
            <p>
                <span>휴대폰 번호</span>
                <input>
            </p>
            <p>
                <span>학과</span>
                <input>
            </p>
            <button type="submit">수정 완료</button>
        </div>
    </form>
</body>
</html>