{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <title>MAIN</title>
</head>
<body>
        <header>
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        <img src="{% static 'images/wordmark_E_C.png'%}" height="25px" width = "150px" id="logo">
                    </a>
                </li> 
                <li>
                    <input type="date" >
                </li>
                <li class="profile-li">
                    <span>운영진</span>
                    <img src="{% static 'images/profile.jpg'%}" height="100px" width = "100px" id="profile-img">
                    
                </li>  
            </ul>
        </header>
<!-- ----------------------------베이스 커트라인------------------------------------------------------ -->
<main>
    <form method="POST" action="#">
        <div class="card-list">

            <div class="cards column">
                <div class="no-move">
                    <button>전체</button>
                </div>
                {%for student in students.all%}
                <div class="card">
                    <div class="student card-header">
                        <img src="{{student.profile.url}}" height="70px" width = "70px" class="student-img">
                        <p class="student-info">
                            <span>{{student.name}}</span><br>
                            <span>{{student.major}}</span>
                        </p>
                    </div>
                </div>
                {%endfor%}
            </div>
            <div class="cards column">
                <div class="no-move">
                    <button>출석</button>
                </div>
            </div>

            <div class="cards column ">
                <div class="no-move">
                    <button>지각</button>
                </div>
            </div>
            
            <div class="cards column ">
                <div class="no-move">
                    <button>결석</button>
                </div>
            </div>
        </div>
        <div class="submit-div">
            <button id="submit" type="submit">저장</button>
        </div>
    </form>
</main>


    
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- 부트스트랩 4.x를 사용한다. -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>

$(function() {
$(".column").sortable({
// 드래그 앤 드롭 단위 css 선택자
connectWith: ".column",
// 움직이는 css 선택자
handle: ".card-header",
// 움직이지 못하는 css 선택자
cancel: ".no-move",
// 이동하려는 location에 추가 되는 클래스
placeholder: "card-placeholder"
});
// 해당 클래스 하위의 텍스트 드래그를 막는다.
$( ".column .card" ).disableSelection();
});
</script>

</html>